/ProjetoBancoCentral/ProjetoBancoCentralSLN/ProjetoBancoCentral/bin
/ProjetoBancoCentral/ProjetoBancoCentralSLN/ProjetoBancoCentral/obj
*.vsidx
/ProjetoBancoCentral/Fase3/ProjetoBancoCentral/obj
/ProjetoBancoCentral/Fase3/ProjetoBancoCentral/obj
/ProjetoBancoCentral/Fase3/ProjetoBancoCentral/obj
/ProjetoBancoCentral/Fase3/ProjetoBancoCentral/obj/Debug
/ProjetoBancoCentral/PJBC/ProjetoBancoCentral/obj
/ProjetoBancoCentral/PJBC/ProjetoBancoCentral/obj
